.container {
  padding: 2px 4px;
  background-color: #fff;
}

.data_container {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;;
}

.data_item {
  display: flex;
  align-items: center;
}

.data_item::before {
  content: ' ';
  display: inline-block;
  width: 30px;
  height: 1em;
  margin-right: 5px;
}

.data_item_raw::before {
  background-color: crimson;
}

.data_item_kalman_filter::before {
  background-color: aqua;
}
